/ h1.data-type-header@@console-data-type
/   span@display_name data
/   | /edit
/   a.button@show-href href="#" data-ui="fastlink"
/     i.fa.fa-caret-left
/     span@back-text Back

.container
  .col
    /! @include form

