form@@console-function
  .container@@console-option
    h4@name foo
    input@name name="options[]" type="hidden"
    input@value name="values[]" type="text"

  hr

  input type="submit" value="Save Function"


/ fieldset.container-2
/   .col
/     ul
/       li
/         label Container
/       li.inline-fields.margin-t
/         input type="checkbox" checked="checked"
/         label Use custom view
/   .col
/     ul
/       li
/         select
/           option main
/           option side
/       li.margin-t
/         label Post Node:
/         input type="text" value="scope[post]"

/         h5.margin-t Available Props

/         ul.styled
/           li title
/           li body
/           li author
/           li datetime
